body{ /*Body taggen styr hela sidans position samt bakgrundsfärgen  */

    margin-left: auto;
    margin-right: auto;
    background-color:#B8B8B8 ;
    
}
#container{ /*Container för innehållet på sidan  */
    
    width:800px;
    height:760px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
 


}
#logo{ /*Styr sidans logga samt storleken  */
    background-image:url(css/pics/header.gif);
    overflow:hidden;
    width:450px;
    height:50px;
    float:left;
   
   
}

#nav{ /*menyns storlek samt position  */
    width:350px;
    height:50px;
    float:right;

}

#content{ /*content på index.html*/
    
    margin-top:0px;
    width:800px;
    height:auto;
    background-color:#fff;
    border-style:solid;
    border-width:1px;
    float:left;
    
}
.img1{ /*styr bild 1 i bloggposten samt storlek*/
float:left;
width:40px;
height:40px;
}
.img2{ /*styr bild 2 i bloggposten samt storlek*/
  float:right;
  width:200px;
  height:200px;

}
h1{
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    margin-left:10px;
}
p{ /*styr <p> för hela sidan*/
    font-family: "Times New Roman", Times, serif;
    text-align:center;
    font-size:15px;
    margin-left:10px;
}
/*styr header2*/
h2{
    
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    margin-left:45px;
}
#posts{ /*Blogginlägg i lista  */
    width:150px;
    height:200px;
    float:right;
    background-color:#26657F;
    border-style:solid;
    border-width:2px;
    margin-top:2px;
    margin-right:2px;
}
#box1{ /*Skapar en ny box för varje post*/
    width:620px;
    height:auto;
    border-bottom-style:solid;
    border-width:2px;
    
    
}
#box2 { 
    width:620px;
    height:auto;
    border-bottom-style:solid;
    border-width:2px;
    text-align:left;
    
}

#box3{ 
    width:620px;
    height:auto;
    border-bottom-style:solid;
     border-width:2px;
}
#box4{ 
    width:620px;
    height:auto;
    
}/*Min meny  */
ul {
  padding-left:50px;  
  Display: inline;
  padding: 15px 6px 20px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li { /*Styr <li> taggen  */
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 16px 20px;
  background: #3DA1CC;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover { /*Styr färgen när man hoovrar */
  background: #555;
  color: #fff;
}



/*Färg på länkar  */
a:link {
    color: #000000;
}
/*Färg på besökta länkar  */
a:visited {
    color: #000000;
}
#content2{  /*Styr all content i kontakt.html  */

    
    border-style:solid;
    border-width:1px;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height:500px;
    background-color:#fff;
    
}

#content3 { /*styr conetent i presentation.html*/
    background-color:#fff;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height:400px;
    border-style:solid;
    border-width:1px;
    
    
    
}
#content4{   /*Styr all content i laborationer.html  */
    background-color:#fff;
    width:800px;
    height:650px;
    border-style:solid;
    border-width:1px;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    
    
}
#content5{ /*Styr content i resultat.html  */
    background-color:#fff;

    width:800px;
    height:500px;
    border-style:solid;
    border-width:1px;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    
    
}
#results{ /*styr table i resultat.html*/
    text-align:center;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:580px;
}

#form{ /*styr forumläret i kontakt.html*/
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    width:380px;
    height:410px;
    margin-top:90px;
}
