body{
    
    text-align:center;
    margin-left: auto;
    margin-right: auto;

    
}
#container{
    
    width:800px;
    height:760px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;


}
#logo{
    background-image:url(css/pics/header.gif);
    overflow:hidden;
    width:450px;
    height:50px;
    border-style:solid;
    border-width:0px;
    float:left;
   
   
}
#nav{
    width:350px;
    height:50px;
    float:right;

}
#header{
    width:800px;
    height:50px;
    float:right;
 
}

#content{
    
    margin-top:0px;
    width:800px;
    height:400px;
    background-color:#fff;
    border-style:solid;
    border-width:1px;
    float:left;
    
}
h1{
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-size:25px;
}
p{
    font-family: "Times New Roman", Times, serif;
    text-align:center;
    font-size:15px;
}
#posts{
    width:150px;
    height:200px;
    float:right;
    background-color:#26657F;
    border-style:solid;
    border-width:2px;
    margin-top:2px;
    margin-right:2px;
}
#box1{
    width:620px;
    height:auto;
    border-bottom-style:solid;
     border-width:2px;
    
    
}
#box2{
    width:620px;
    height:20;
    border-bottom-style:solid;
     border-width:2px;
}
#box3{
    width:620px;
    height:auto;
    border-bottom-style:solid;
     border-width:2px;
}
#box4{
    width:620px;
    height:auto;
    
}
ul {
  padding-left:50px;  
  Display: inline;
  padding: 15px 6px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #3DA1CC;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
#content2{
    
    margin-top:0px;
    width:800px;
    height:500px;
    border-style:solid;
    border-width:1px;
    
    
    
}
#table{
    
    text-align:center;
    margin-left: auto;
    margin-right: auto
    

    
    
}
#content3{
    
    margin-top:0px;
    width:800px;
    height:500px;
    border-style:solid;
    border-width:1px;
    
    
}
#content4{
    
    margin-top:0px;
    width:800px;
    height:900px;
    border-style:solid;
    border-width:1px;
    
    
}
#content5{
    
    margin-top:0px;
    width:800px;
    height:500px;
    border-style:solid;
    border-width:1px;
    
    
}
#results{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

#form{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}